<%= simple_form_for @pin,
	wrapper: :vertical_form,
  defaults: { input_html: { class: "form-control" }, label: false } do |f| %>
  <%= f.error_notification %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-inputs">
    <%= f.input :description, placeholder: "Description" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
